# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# Server
server/dist/

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# local database & test scripts
*.db
*.db-journal
server/*.db
server/*.db-journal
deploy_*.js
project.tar.gz
scripts/
server/seed.js
